<%- include('../modules/header', {page_title: 'Home'}); %>

<div class="page__wrapper">
    <h1 class="page__title">Home page</h1>

    <div class="element__wrapper">
        <div id="cronofy-availability-viewer"></div>
    </div>

    <%- include('../modules/basic-navigation', {active: "/"}); %>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
<script>
    const utcOffset = moment().utcOffset();
    const invertedOffset =
        Math.sign(utcOffset) === -1 ? Math.abs(utcOffset) : 0 - utcOffset;
    const offset = invertedOffset / 60;

    const today = moment()
        .add(1, "day")
        .seconds(0);
    const startDay = today
        .startOf('isoWeek')
        .subtract(1, "day")
        .add(7,"day");

    const offsetTime = (days, time) => {
        const timeString = `${startDay.clone().format("YYYY-MM-DD")}T${time}:00Z`;
        const output = moment(timeString)
            .add(days, "days")
            .add(offset, "hours");
        return output.utc().format();
    };

    const Viewer = CronofyElements.AvailabilityViewer({
        element_token: "<%= token %>",
        target_id: 'cronofy-availability-viewer',
        api_domain:"<%= api_domain %>",
        availability_query: {
            participants: [
                {
                    required: "all",
                    members: [
                        {
                            sub: "<%= sub %>",
                            // managed_availability: true,
                            // availability_rule_ids:["default"]
                        }
                    ]
                }
            ],
            required_duration: { minutes: 60 },
            // max_results: 200,
            available_periods: [
                { start: offsetTime(1, "09:00"), end: offsetTime(1, "17:30") },
                { start: offsetTime(2, "08:00"), end: offsetTime(2, "17:30") },
                { start: offsetTime(3, "09:00"), end: offsetTime(3, "17:30") },
                { start: offsetTime(4, "09:00"), end: offsetTime(4, "17:30") },
                { start: offsetTime(5, "09:00"), end: offsetTime(5, "17:30") },
                { start: offsetTime(8, "09:00"), end: offsetTime(8, "17:30") },
                { start: offsetTime(9, "09:00"), end: offsetTime(9, "17:30") },
                { start: offsetTime(10, "09:00"), end: offsetTime(10, "17:30") },
                { start: offsetTime(11, "09:00"), end: offsetTime(11, "17:30") },
                { start: offsetTime(12, "09:00"), end: offsetTime(12, "17:30") }
            ],
        },
        config: {
            start_time:"08:00",
            end_time: "18:00",
            interval: 30,
            // mode: "multi_select",
        },
        styles: {
            prefix: "AV1"
        },
        callback: slot => console.log('callback',slot),
    });
</script>

<%- include('../modules/footer'); %>
