<%- include('../modules/header', {page_title: 'Meetings', active: "/meetings"}); %>

<div class="page__wrapper">
    
    <div class="block ">
        <h1>Your direct reports:</h1>
    </div>

    <div class="block block--grid">

        <%# Start with i as 1, because team[0] is the logged-in user %>
        <% for (let i = 1; i < team.length && i <= 6; i++) { %>
            <div class="person person--third">
                <div class="person__avatar" style="background-image:url('/assets/images/avatar_<%= team[i].image_suffix %>.jpg');" ></div>
                <div class="person__meta">
                    <h3 class="person__name"><%= team[i].name %></h3>
                    <span class="person__meta-item"><%= team[i].job %></span>
                    <span class="person__meta-item">London HQ</span>
                </div>
                <a href="/meetings/schedule?av=<%= team[i].image_suffix %>&n=<%= team[i].name %>&jt=<%= team[i].job %>" class="button">View</a>
            </div>
        <% } %>

    </div>

</div>

<%- include('../modules/footer'); %>
