<%- include('../modules/header', {page_title: 'Schedule Meeting', active: "/meetings"}); %>

<div class="page__wrapper">
    
    <div class="block person person--wide">
        <div class="person__avatar" style="background-image:url('/assets/images/avatar_<%= avatar %>.jpg');"></div>
        <div class="person__meta">
            <span class="person__subheading">Schedule a meeting with</span>
            <h3 class="person__name"><%= name %></h3>
            <span class="person__meta-item"><%= role %> - London HQ</span>
        </div>
    </div>
    
    <div class="block">
        <h2 class="subheading subheading--inline">Meeting type:</h2>
        
        <div class="block--radio">
            
            <div class="radio-group radio-group--third">
                <input type="radio" class="js--meeting-type" value="1to1" id="meeting-type__1to1" name="meeting-type" checked/>
                <label for="meeting-type__1to1" class="symLabel">
                    <%- include('../icons/remote', {className: 'radio__icon'}); %>
                    <h3 class="radio__title">1:1</h3>
                    <span class="radio__description">30min meeting</span>
                </label>
            </div>
            
            <div class="radio-group radio-group--third">
                <input type="radio" class="js--meeting-type" value="appraisal" id="meeting-type__appraisal" name="meeting-type"/>
                <label for="meeting-type__appraisal" class="symLabel">
                    <%- include('../icons/meeting', {className: 'radio__icon'}); %>
                    <h3 class="radio__title">Appraisal</h3>
                    <span class="radio__description">60min meeting</span>
                </label>
            </div>
            
            <div class="radio-group radio-group--third">
                <input type="radio" class="js--meeting-type" value="team" id="meeting-type__team" name="meeting-type"/>
                <label for="meeting-type__team" class="symLabel">
                    <%- include('../icons/team', {className: 'radio__icon'}); %>
                    <h3 class="radio__title">Team</h3>
                    <span class="radio__description">60min meeting</span>
                </label>
            </div>

        </div>
    </div>
    
    <div class="block js--meeting-participants__wrapper block--hidden">
        <h2 class="subheading subheading--inline">Add participants:</h2>
        <div class="block__content multiselect__container">
            <div class="multiselect__wrapper js--multiselect--meeting">
                <div class="multiselect__item">
                    <div class="multiselect__avatar" style="background-image:url('/assets/images/avatar_10.jpg');"></div>
                    <div class="multiselect__title">Tokunaga Yae</div>
                </div>
            </div>
            <div class="multiselect__toggler js--multiselect__toggler-wrapper--meeting">
                <div class="multiselect__toggler-inner js--multiselect__toggler--meeting"></div>
                <button class="multiselect__toggler-button js--multiselect__toggler-button--meeting"><%- include('../icons/close', {className: 'button__icon'}); %></button>
            </div>
        </div>
    </div>
    
    <div class="block block--columns js--meeting-location__wrapper block--hidden">
        <div class="block__label">
            <label for="location" class="subheading">Location:</label>
        </div>
        <div class="block__content">
            <input class="js--meeting-location" name="location" type="text" placeholder="Meeting room 6: London HQ">
        </div>
    </div>

    <div class="block block--columns">
        <div class="block__label">
            <label for="event-name" class="subheading">Event name:</label>
        </div>
        <div class="block__content">
            <input class="js--meeting-name" name="event-name" type="text" value="Weekly catchup" placeholder="Event name">
        </div>
    </div>

    <div class="block">
        <div id="cronofy-meeting-availability"></div>
    </div>

</div>

<script>
    const SUB = "<%= sub %>";
    const TOKEN = "<%= token %>";
    const API_DOMAIN = "<%= api_domain %>";
    const TEAM = <%- JSON.stringify(team) %>;
    const NAME = "<%= name %>";
</script>
<script src="/assets/meeting.js"></script>

<%- include('../modules/footer'); %>
