<%- include('../modules/header-wizard', {page_title: "Get started"}); %>

<div class="page__wrapper">

    <%- include('../modules/wizard-progress', {total: 3, current: 1}); %>
    
    <div class="block block--border block--ats-header">
        <%- include('../icons/cronofy', {className: 'ats__icon'}); %>
        <div class="ats__title">
            <h1 class="ats__title-heading">Welcome to the Cronofy Demo App</h1>
            <div class="ats__meta">
                <span class="ats__meta-value">Follow these simple steps to get connected to the app and begin your scheduling adventure.</span>
            </div>
        </div>
    </div>

    <form class="init__form" method="POST" action="/setup-start">

        <input type="text" value="Etc/UTC" name="timezone" class="visuallyhidden js--timezone">

        <div class="init__form-footer">
            <button class="button button--submit button--has-icon init__button" type="submit">
                Get started
                <%- include('../icons/caret-round', {className: 'button__icon'}); %>
            </button>
        </div>
        
    </form>

</div>

<script>
const timezoneInput = document.querySelector('.js--timezone');
const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
timezoneInput.value = timezone;
</script>

<%- include('../modules/footer'); %>
