<%- include('../modules/header', {page_title: "Submit"}); %>

<div class="page__wrapper">

    <a href="/share" class="link--secondary">Pick another time</a>
    
    <div class="block">
        <h1 class="ats__title-heading">Event created</h1>
        <div class="ats__meta">
            <span class="ats__meta-value">A new event was successfully added to your calendar.</span>
        </div>
    </div>

    
    <div class="block block--border">
        <p>Event details:</p>
        <p><strong>Date:</strong> <%= meetingDate %></p>
        <p><strong>Time:</strong> <%= start %> to <%= end %></p>
    </div>

</div>

<%- include('../modules/footer'); %>
